@model CloudScheduler.ViewModels.InstanceListVM
@{
    ViewBag.Title = "ScheduleChange";
}
<div>   
    <table border ="1">  
        <tr> 
            <td></td>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
	        <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
    </table>
</div>